<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="keyDetail">
    <!-- Modal -->
    <div class="modal fade" id="keyDetailDialog" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header header-info d-block" style="cursor: move;">
                        <div class="row mx-4">
                            <h4 class="modal-title" id="keyDetailModalTitle"></h4>

                            <button type="button" id="eventGroupDetailModalCloseIcon" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;
                            </button>
                        </div>
                    </div>
                    <div class="modal-body px-0 pb-0">
                        <div class="container text-area px-4">
                            <div class="modal-body">
                                <div id="keyDetailModalContent" style="word-break: break-all;">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " id="eventGroupModal"
                                data-dismiss="modal" th:text="#{label.close}">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>